body {
    margin: 0;
    padding: 0;
}

.header {
    height: 70px;
    background-color: bla;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}

.header .contenidoheader{
    background-color: black;
    width: 100%;
    height: 69px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    margin-bottom: 1px;
}

.header .contenidoheader img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.contenedornavbar{
    position: relative;
}
.navbar {
    font-family: 'MotoGP Text';
    background-color: black;
    display: flex;
    flex-direction: row; /* Por defecto, horizontal para ordenadores */
    justify-content: space-between;
    justify-content: center;
  }
  
  .enlaces {
    display: flex;
    flex-direction: row;
    justify-self: left;
  }
  
  .enlaces a {
    text-decoration: none;
    color: white;
    padding: 15px;
    margin: 0 10px;
  }

  .logo{
    padding-top: 15px;
  }
  
  .logo img {
    height: 19px;
  }
  
  .sinboton {
    display: flex;
  }
  
  .conboton {
    display: none; /* Ocultamos el botón en pantallas grandes */
  }
  
  .navbar a:hover {
    color: red;
  }

/* Estilos generales para el botón */
.conboton button {
    background-color: inherit;
    border: none;
    padding: 15px 16px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

.conboton{
    position: relative;
}

.conboton button img {
    height: 45px;
    width: 45px;
}

/* Estilos para el contenido desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* Añadido para mejorar la accesibilidad */
    
    top: 100%; /* Posiciona la parte superior del menú debajo del botón */
}

/* Mostrar el contenido desplegable al pasar el ratón sobre el botón */
.conboton:hover .dropdown-content {
    display: block;
}

/* Estilos para los enlaces dentro del menú desplegable */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    display: block;
    color: red;
    background-color: #f1f1f1;
}



.contenidoph {
    font-family: 'MotoGP Text';
    display: flex;
    flex-direction: column;
}

.encabezadoph{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.encabezadoph img{
    padding-top: 23px;
    padding-left: 5px;
    height: 45px;
}

.encabezadoph h1 {
    size: 18px;

}

.rellenoph{
    font-family: 'MotoGP Text';
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;
    padding-bottom: 20px;
    width: 90%;
    
}

.pilotoh{
    border: 0.5px solid rgba(75, 75, 75, 0.658);
    background-color: rgba(87, 87, 87, 0.226);
    padding: 3%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.imagenpilotoh img{
    width: 21vw;
    height: auto;
}

.infopilotoh{
    align-items: center;
    margin: auto;
    padding-left: 20px;
    display: flex;
    flex-direction: column ;
    align-items: center;
    text-align: center;
    
}

.nombrepilotoh{
    margin: auto;
}

.label{
    font-weight: bold;
    padding-right: 5px;
}

#apodoph{
    font-style: italic;
}

.label , .content {
    justify-self: center;
    font-size: 18px;
}





.footer {
    font-family: 'MotoGP Text';
    display: flex;
    flex-direction: column;
    background-color: #F5F5DC;
}

.nombreredes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px; 
    padding: 20px;
    padding-bottom: 10px;
}

.nombreredes a {
    font-size: 17px;
    text-decoration: none;
    color: black; 
    text-align: center;
}

.iconoredes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
    padding-top: 10px;
}

.iconoredes .icono img {
    height: 40px;
    width: 40px;
    display: block;
    margin: 0 auto;
}

.footermovil{
    display: none;
    flex-direction: column;
}

.iconofooter {
    padding: 5px;
}

.iconofooter img{
    height: 40px;
    width: 40px;
    display: block;
    margin: 0 auto; 
}

.copyright{
    align-self: flex-end;
  }
  
  .footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
  }

@media screen and (max-width:500px ) and (min-width:150px){

    .navbar {
        flex-direction: row;
        justify-content: center;
      }
      .logo{
        margin-top: 15px;
      }

      .logo img {
        height: 15px;
      }
    
    
      .sinboton {
        display: none; /* Ocultamos los enlaces en línea */
      }
    
      .conboton {
        display: flex;
        justify-content: center;
      }
      .conboton button {
        display: block;
      }

      .contenidoph img{
        height: 25px;
      }
      .contenidoph h1{
        padding-top: 3px;
        font-size: 24px;
      }


      .imagenpilotoh img{
        width: 75vw;
        height: auto;
    }

    .nombrepilotoh {
        font-size: 24px;
    }

    .label{
        font-weight: bold;
        padding-right: 5px;
    }
    

    .label , .content {
        font-size: 14px;
    }

    .footer {
        display: none;
    }

    .nombreredes, .iconoredes {
        flex-direction: column;
        align-items: center;
    }

    .footermovil{
        background-color: #F5F5DC;
        display: flex;
    }  

    .iconofooter img {
        height: 30px;
        width: 30px;
      }

}

@media screen and (min-width:501px) and (max-width:1375px){
    .nombreredes{
        display: none;
    }

    .rellenoph{
        flex-direction: column;
    }

    .pilotoh{
        flex-direction: row;
        gap: 20px;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
    .imagenpilotoh img {
        padding-top: 90px;
        width: 40vw;
        flex-shrink: 0;
        }
    .imagenpilotoh {
        flex: 1;
        max-width: 500px; /* Limita el ancho del bloque de texto para que no sea demasiado grande */
        box-sizing: border-box; /* Asegura que el padding y margen se consideren en el ancho */
    
    }

    .nombrepilotoh{
        font-size: 24px;
    }
}

@font-face {
    font-family: 'MotoGP Text';
    src: url('../tipoletra/MotoGPText-Light.eot');
    src: local('MotoGP Text Light'), local('MotoGPText-Light'),
        url('../tipoletra/MotoGPText-Light.eot?#iefix') format('embedded-opentype'),
        url('../tipoletra/MotoGPText-Light.woff2') format('woff2'),
        url('../tipoletra/MotoGPText-Light.woff') format('woff'),
        url('../tipoletra/MotoGPText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MotoGP Text';
    src: url('../tipoletra/MotoGPText-Italic.eot');
    src: local('MotoGP Text Italic'), local('MotoGPText-Italic'),
        url('../tipoletra/MotoGPText-Italic.eot?#iefix') format('embedded-opentype'),
        url('../tipoletra/MotoGPText-Italic.woff2') format('woff2'),
        url('../tipoletra/MotoGPText-Italic.woff') format('woff'),
        url('../tipoletra/MotoGPText-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MotoGP Text';
    src: url('../tipoletra/MotoGPText-Bold.eot');
    src: local('MotoGP Text Bold'), local('MotoGPText-Bold'),
        url('../tipoletra/MotoGPText-Bold.eot?#iefix') format('embedded-opentype'),
        url('../tipoletra/MotoGPText-Bold.woff2') format('woff2'),
        url('../tipoletra/MotoGPText-Bold.woff') format('woff'),
        url('../tipoletra/MotoGPText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MotoGP Text';
    src: url('../tipoletra/MotoGPText-BoldItalic.eot');
    src: local('MotoGP Text Bold Italic'), local('MotoGPText-BoldItalic'),
        url('../tipoletra/MotoGPText-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../tipoletra/MotoGPText-BoldItalic.woff2') format('woff2'),
        url('../tipoletra/MotoGPText-BoldItalic.woff') format('woff'),
        url('../tipoletra/MotoGPText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MotoGP Text';
    src: url('../tipoletra/MotoGPText-LightItalic.eot');
    src: local('MotoGP Text Light Italic'), local('MotoGPText-LightItalic'),
        url('../tipoletra/MotoGPText-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../tipoletra/MotoGPText-LightItalic.woff2') format('woff2'),
        url('../tipoletra/MotoGPText-LightItalic.woff') format('woff'),
        url('../tipoletra/MotoGPText-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MotoGP Text';
    src: url('../tipoletra/MotoGPText-Regular.eot');
    src: local('MotoGP Text Regular'), local('MotoGPText-Regular'),
        url('../tipoletra/MotoGPText-Regular.eot?#iefix') format('embedded-opentype'),
        url('../tipoletra/MotoGPText-Regular.woff2') format('woff2'),
        url('../tipoletra/MotoGPText-Regular.woff') format('woff'),
        url('../tipoletra/MotoGPText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MotoGP Display';
    src: url('../tipoletra/MotoGPDisplay-Bold.eot');
    src: local('MotoGP Display Bold'), local('MotoGPDisplay-Bold'),
        url('../tipoletra/MotoGPDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../tipoletra/MotoGPDisplay-Bold.woff2') format('woff2'),
        url('../tipoletra/MotoGPDisplay-Bold.woff') format('woff'),
        url('../tipoletra/MotoGPDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}